.results{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #3b5f99
}

.search{
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  color: #3b5f99
}

.updateBot{
  margin: 10px;
  padding: 5px;
}
